[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cgal4h"]
	path = cgal4h
	url = https://gitlab.com/dickoa/cgal4h
[submodule "robotoolbox"]
	path = robotoolbox
	url = https://gitlab.com/dickoa/robotoolbox
